/* https://codepen.io/ingomc/pen/ONrMqe */
.spinner {
  animation: circ-anim 0.7s linear infinite;
}

@keyframes circ-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
